@import "/src/theme/colors";

.nav-list {
  height: 100%;
  width: 8.75rem;
  position: fixed;
  box-shadow: 0 0 1.625rem 0 $color-primary;
  .list-item a,
  .list-item.arrow {
    height: 3rem;
    padding: 0px 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    transition: background-color 0.2s ease-in-out;

    &.active {
      font-weight: 600;
    }

    &:hover {
      background-color: $color-secondary;
      color: white;
    }
  }

  .list-item a {
    &.active {
      background-color: $color-primary;
      color: white;
    }
  }
}
