/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");
@import "/src/theme//theme.scss";

* {
  font-family: "Ysabeau", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.pointer {
  cursor: pointer;
}

.arrow {
  cursor: default;
}
